.root {
  --border-color: var(--color-gray-400);
  --background-color: var(--color-white);

  background-color: beige;
}


.title {
  font-size: clamp(0.8rem, 1rem + 1vw, 2rem);
  font-weight: bold;
}
