@use "styles/foundation" as *;

.red {
  background-color: palettes(red, light-10);
  &:hover {
    background-color: palettes(red);
  }
}

.blue {
  background-color: palettes(blue, light-10);
  &:hover {
    background-color: palettes(blue);
  }
}

.l {
  width: 300px;
}
