@use "styles/foundation/utils" as *;

.red {
  background-color: var(--clr-secondary-200);
  &:hover {
    background-color: var(--clr-secondary-300);
  }
}

.blue {
  background-color: var(--clr-secondary-200);
  &:hover {
    background-color: var(--clr-secondary-300);
  }
}

.l {
  width: 300px;
}
