.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.nav {
  display: flex;
  gap: 1rem;
  a:hover {
    color: var(--clr-primary-400);
  }
  a + a {
    padding-left: 1rem;
    border-left: 1px solid #333;
  }
}
