.root {
  margin-bottom: 1rem;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.checkbox input:checked + label {
  text-decoration: line-through;
  color: var(--color-gray-300);
}

.button__danger {
  padding: 0.1em 0.4em;
  background-color: var(--color-red-900);
  color: var(--color-white);
}
