@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Poppins:wght@400;500;600&display=swap');

:root {
  --primary-color: #fe5303;
  --heading-font: 'Playfair Display', serif;
}

* {
  border-style: border-box;
  font: inherit;
  color: inherit;
}

body {
  margin: 0;
  color: #222;
  font-family: 'Poppins', sans-serif;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

section {
  padding: 74px 0;
}

.container {
  max-width: 1200px;
  padding: 24px;
  margin: 0 auto;
}

.hero-area {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url('./images/image-1.png');
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-area header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reservations {
  display: flex;
  align-items: center;
  background: var(--primary-color);
  padding: 12px 24px;
  border-radius: 50px;
  text-transform: uppercase;
  font-style: 0.875rem;
  font-weight: 500;
}

.reservations i {
  margin-right: 8px;
}

.main-heading {
  font-family: var(--heading-font);
  font-size: 3.75rem;
  font-weight: 700;
  max-inline-size: 620px;
}

.adventure {
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

.adventure i {
  margin-left: 12px;
  padding: 10px;
  font-size: 2.5rem;
  border: 1px solid white;
  border-radius: 50%;
}

.booking {
  margin-top: 100px;
}

.booking__inputs {
  display: grid;
  gap: 0.5rem;
  background: white;
  color: #222;
  padding: 24px;
  border-radius: 8px;
}

.booking__input label {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #bdbdbd;
  font-weight: 500;
}

.booking__input input,
.booking__input select {
  display: block;
  width: 100%;
  border: none;
  padding: 8px 0;
  font-weight: 500;
  cursor: pointer;
}

.booking__button {
  background-color: var(--primary-color);
  padding: 40px;
  border-radius: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 12px;
  box-shadow: 0px 4px 20px rgba(254, 83, 3, 0.6);
}

@media (min-width: 760px) {
  .booking__inputs {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }

  .booking__input {
    padding: 0 24px;
    border-left: 1px solid #e0e0e0;
  }

  .booking__input:first-child {
    border: none;
    padding-left: 0;
  }

  .booking__input:last-child {
    padding-right: 0;
  }
}

@media (min-width: 1020px) {
  .booking {
    display: flex;
  }

  .booking__button {
    margin-top: 0;
    margin-left: 12px;
  }
}
