@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: white;
  --color-black: black;

  --color-gray-900: hsl(0, 0%, 10%);
  --color-gray-800: hsl(0, 0%, 20%);
  --color-gray-700: hsl(0, 0%, 30%);
  --color-gray-600: hsl(0, 0%, 40%);
  --color-gray-500: hsl(0, 0%, 50%);
  --color-gray-400: hsl(0, 0%, 60%);

  --color-blue-900: hsl(240, 100%, 50%);
  --color-blue-300: hsl(240, 100%, 70%);
  --color-blue-200: hsl(240, 100%, 90%);
  --color-blue-100: hsl(240, 100%, 96%);

  --color-red-900: hsl(0, 100%, 50%);
  --color-red-500: hsl(0, 100%, 80%);
  --color-red-300: hsl(0, 100%, 90%);
  --color-red-100: hsl(0, 100%, 95%);
}

button[disabled] {
  opacity: 0.5;
}
