@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: white;
  --color-black: black;

  --color-gray-900: hsl(0, 0%, 10%);
  --color-gray-800: hsl(0, 0%, 20%);
  --color-gray-700: hsl(0, 0%, 30%);
  --color-gray-600: hsl(0, 0%, 40%);
  --color-gray-500: hsl(0, 0%, 50%);
  --color-gray-400: hsl(0, 0%, 60%);
  --color-gray-300: hsl(0, 0%, 70%);
  --color-gray-200: hsl(0, 0%, 80%);
  --color-gray-100: hsl(0, 0%, 90%);

  --color-blue-900: hsl(240, 100%, 50%);
  --color-blue-300: hsl(240, 100%, 70%);
  --color-blue-200: hsl(240, 100%, 90%);
  --color-blue-100: hsl(240, 100%, 96%);

  --color-red-900: hsl(0, 100%, 50%);
  --color-red-500: hsl(0, 100%, 80%);
  --color-red-300: hsl(0, 100%, 90%);
  --color-red-100: hsl(0, 100%, 95%);
}

button {
  --border-color: currentColor;
  border: 2px solid var(--border-color);
}

button[disabled] {
  opacity: 0.5;
}

input[type='text'] {
  --border-color: var(--color-gray-400);
  --background-color: var(--color-white);

  width: 100%;
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  border-radius: 4px;
  padding: 0.1em 0.3em;
  transition-duration: 200ms;
}

input[type='checkbox'],
input[type='radio'] {
  width: 20px;
  height: 20px;
}

input:focus {
  --border-color: var(--color-blue-900);
  --background-color: var(--color-white);

  box-shadow: 0 0 0 3px var(--color-blue-200);
  outline: 3px solid transparent;
}
