// ベースになる色を変数で指定しておく。
$color-red: rgb(219, 39, 39);
$color-blue: #2c5dee;

// 明るい色と暗い色を`lighten()`関数と`darken()`関数で指定する。
$palettes: (
  red: (
    base: $color-red,
    light-10: lighten($color-red, 10%),
    dark-10: darken($color-red, 10%),
  ),
  blue: (
    base: $color-blue,
    light-10: lighten($color-blue, 10%),
    dark-10: darken($color-blue, 10%),
  ),
);

// `map-get()`関数をネストして値を取得する。
// ネストしたvalueのデフォルトはbaseとする。
@function palettes($key, $tone: base) {
  @return map-get(map-get($palettes, $key), $tone);
}
